*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
    color: white;
    height: 100vh;
    overflow-y: hidden;
}
/* h1 {
    background: linear-gradient(
      90deg,
      rgba(249, 211, 180, 1) 0%,
      rgba(249, 211, 180, 0.3) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

  /* Home page */
  #home{
    position: absolute;
    background: black;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #home h1{
    font-size: 7vw;
    font-weight: 800;
    color: white;
  }

  #home button{
    width: 50vw;
    height: 8vh;
    font-size: 6vw;
    margin-top: 30vh;
    border-radius: 2vw;
    background-color: salmon;
  }


  #contact{
    width: 80vw;
    height: 60vh;
    background-color:rgb(255,255,255, 0.1);
    color: black;
    text-align: center;
    font-size: 5vw;
    margin: 10vh;
  }

  #menu{
    position: fixed;
    width: 100vw;
    height: 6vh;
    position: fixed;
    top: 0vh;
    background-color: rgb(66, 62, 62);
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    transition: 0.3s;
    font-size: 5vw;
  }

  #nav{
    position: fixed;
    width: 100vw;
    height: 6vh;
    position: fixed;
    top: 0vh;
    background-color: black;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    transition: 0.3s;
  }

  #nav button{
    background-color: #930202;
    color: aliceblue;
    min-height: 60%;
    min-width: 20vw;
    max-width: 150px;
    border: 0.4vw solid white;
    border-radius: 5vw;
    font-weight: 700;
    font-size: 3vw;
  }

  #nav_drop{
    width: 7vw;
    height: 6vh;
    position: fixed;
    top: 0vh;
    left: 93vw;
    background-color: aliceblue;
    z-index: 20;
  }


  
  #nav button:hover{
    color: white;
    transform: scale(1.3);
    transition: .5s;
  }

/* Home page */


/* About Section */
  #about{
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: 9;
  }



  /* Projects */
  #projects{
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    margin: 0px;
    padding: 0px;
  }

  .pro_tiles{
    min-width: 80vw;
    max-width: 500px;
    height: 30vh;
    background-color: rgb(2, 2, 71);
    border-style: solid;
    border-radius: 2vw;
    border-width: .1vw;
    margin: auto;
    margin-top: 5vh;
  }

  #keyboard{
    background: url(images/keyboard3.JPG);
    background-size: 100% 100%;
  }

  #quotes{
    background: url(images/quotes3.JPG);
    background-size: 100% 100%;
  }

  #calculator{
    background: url(images/calcualtor.PNG);
    background-size: 100% 100%;
  }

  #drum_machine{
    background: url(images/drum\ machine.PNG);
    background-size: 100% 100%;
  }

  #rockpaperscissors{
    background: url(images/rockpapersicssors.JPG);
    background-size: 100% 100%;
  } 
